h1 Enter the supersecret password to become a allmighty admin :^)

form action="/adminpowers" method="post"
    input type="password" placeholder="HERE!!!" name="adminpw"
    input type="submit" value="SUBMIT"
