/!h1 Simple Echo & Chat Server
/!form id="form"
    input type="text" id="input" value="send a message"
/!div id="msgs"

/! <script src="./js/chat.js"></script>
/! <script>function();</script>
h2 Welcome #{session[:username]}