* {
    font-family: sans-serif;
    color: white;
    font-family: 'Palanquin Dark', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color:black;
}

.loginscreen{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    margin-left: 15px;
    color: black;
}

a{
    text-decoration: none;
}
.registerlink{
    color: limegreen;
    margin-left: 355px;
    margin-top: 15px;
}
.registerlink:hover{
    text-decoration: underline;
}

.red{
    color:red;
    position: fixed;
    margin-top: 75px;
}

/* TEST 

label {
    width: 50px;
    height: 5px;
    border-radius: 5px;
    background:black;
    cursor: pointer;
    transition: .6s;
    position: fixed;
    margin-top: 100px;
  }
  
  label:before {
    content: "";
    width: 50px;
    height: 5px;
    background:black;
    margin-top: 20px;
    position: absolute;
    transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    border-radius: 5px;
    -webkit-transition: .6s;
    transition: .6s;
  }
  
  label:after {
    content: "";
    width: 50px;
    margin-top: -20px;
    height: 5px;
    background: black;
    position: absolute;
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
    border-radius: 5px;
    transition: .6s;
    -webkit-transition: .6s;
  }
  
  #menu:checked + label {
    width: 0;
  }
  
  #menu:checked + label:before {
    transform: rotate(45deg) translate(0px);
    margin-top: -20px;
    -webkit-transform: rotate(45deg) translate(0px);
  }
  
  #menu:checked + label:after {
    transform: rotate(-45deg) translate(0px);
    margin-top: 20px;
    -webkit-transform: rotate(-45deg) translate(0px);
  }

  #menu {
    visibility: hidden;
  }
  